body {
    margin: 0px; 
    text-align: center;
}

h1 {
    margin-top: 0px;
}

.topDiv {
    background-color: rgb(127, 213, 235); 
    margin-top: 0px; 
    margin-left: 0px; 
    margin-right: 0px; 
    padding: 15px;  
    position: relative; 
    padding-top: 100px; 
} 

.middleDiv { 
    background-color: aqua;
    height: 200px; 
    width: 200px;
} 

.bottomDiv { 
    background-color: bisque;
    height: 200px; 
    width: 200px;
} 
.pro {
    text-decoration: underline;
} 

.bootomCloud {
    position: absolute;
} 

.topCloud {
    position: absolute; 
    right: 400px; 
    top: 100px;
}